body {
    background-color: lightgray;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container kbd {
    flex: 0 1 3rem;
    background-color: white;
    text-align: center;
    height: 50vh;
    line-height: 80vh;
    border: 3px gray solid;
}

.container kbd:not(:first-of-type) {
    margin-left: -3px;
}
