body {
    background-color: lightgray;
    margin: 0;
}

.container {
    min-height: 100vh;
    padding-top: 25vh;
}

.white-keys, .black-keys {
    display: flex;
    align-items: center;
    justify-content: center;
}

.black-keys {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.black-keys kbd, .white-keys kbd {
    flex: 0 1 3rem;
    text-align: center;
    height: 50vh;
    line-height: 80vh;
    border: 3px gray solid;
}

.white-keys kbd {
    background-color: white;
}

#kbd-E {
    margin-right: 4rem;
}

.black-keys kbd {
    background-color: black;
    color: white;
    height: 30vh;
    width: 2rem;
    margin: auto 1rem;
    line-height: 50vh;
}

.container kbd:not(:first-of-type) {
    margin-left: -3px;
}
