body {
    background-color: lightgray;
}

.container {
    margin-top: 25vh;
    height: 50vh;
    width: 100vw;
    text-align: center;
}

.container kbd {
    background-color: white;
    display: inline-block;
    height: 50vh;
    width: 3rem;
    text-align: center;
    line-height: 80vh;
    border: 3px gray solid;
}

.container kbd:not(:first-of-type) {
    margin-left: -8px;
}

